/*estilos generales*/
.contenido{
  background-color: #02010a;
}
/*clases para el header*/
header{
  background-color: #5b7989;
  min-height: 10%;
  border-radius: 10px 10px 0px 0px;
  margin: 15px;
}
.navbar{
  text-align: right;
  color: #FFFFFF;
}
.enlaces{
  list-style: none;
  margin-right: 5px;
  text-shadow: 2px 2px 2px #02010a;
}
li{
  display: inline;
  font-size: 20px;
  margin-top: 5px;
}
.titulo-inicial{
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #02010a;
}
/*contenido central*/
.central{
  background-color: #82c3a6;
  text-align: center;
}
.img-central{
  width: 80%;
  height: 500px;
}
/*articulos*/
.secundario{
  background-color: #d5c75f;
  display: column;
}
